<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bad Request</title>
    <style>
        body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(45deg, #141e30, #243b55);
    color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    text-align: center;
}

h1 {
    color: #e74c3c;
    font-size: 2.5rem;
    text-transform: uppercase;
    margin-bottom: 20px;
}

p {
    color: #fff;
    font-size: 1.2rem;
    line-height: 1.6;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    font-size: 1.2rem;
    margin-top: 20px;
}

.button:hover {
    background-color: #2980b9;
}
    </style>
</head>

<body>
    <div class="container">
        <h1>Error 401 - Unauthorized</h1>
        <p>Access to this resource is denied. You are unauthorized to view this page.</p><br>
        <p>Reason : {{.error}}</p><br>
    </div>
</body>

</html>